[Unit]
Description=Add wheel members to docker, and input groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/groups-setup

[Install]
WantedBy=default.target